[submodule "bootstrap2-dark"]
	path = bootstrap2-dark
	url = git@github.com:starofrainnight/pelican-theme-bootstrap2-dark.git
[submodule "content"]
	path = content
	url = ssh://git@my-svr-source.local:10122/starofrainnight/articles-chs.git
[submodule "plugins"]
	path = plugins
	url = git://github.com/getpelican/pelican-plugins.git
